absl-py
aioice
aiortc
altair
annotated-types
anyio
astunparse
attrs
av
beautifulsoup4
blinker
boto3
botocore
brainflow
cachetools
certifi
cffi
charset-normalizer
chex
click
cryptography
deepface
distro
dnspython
enum-compat
etils
exceptiongroup
filelock
fire
Flask
Flask-Cors
flatbuffers
flax
fsspec
future
gast
gdown
gitdb
GitPython
google-api-core
google-auth
google-auth-oauthlib
google-cloud-texttospeech
google-crc32c
google-pasta
googleapis-common-protos
grpcio
grpcio-status
gTTS
gunicorn
h11
h5py
httpcore
httpx
idna
ifaddr
importlib-metadata
importlib_resources
iso8601
itsdangerous
jax
jaxlib
Jinja2
jmespath
joblib
jsonschema
jsonschema-specifications
keras
Keras-Preprocessing
libclang
Markdown
markdown-it-py
MarkupSafe
mdurl
ml-dtypes
msgpack
mtcnn
namex
nest-asyncio
nptyping
numpy==1.26.4
oauthlib
openai
opencv-python
opt-einsum
optax
optree
orbax-checkpoint
packaging
pandas
patsy
pillow
proto-plus
protobuf
pyarrow
pyasn1
pyasn1-modules
PyAudio
pycparser
pydantic
pydantic_core
pydeck
pyee
pygatt
Pygments
pylibsrtp
pyOpenSSL
pyparsing
PyQt5
PyQt5-Qt5
PyQt5-sip
PyQt6
PyQt6-Qt6
PyQt6-sip
pyqtgraph
pyserial
PySocks
python-dateutil
python-dotenv
pytz
PyYAML
referencing
requests
requests-oauthlib
retina-face
rich
rpds-py
rsa
s3transfer
scikit-learn
scipy
serial
six
smmap
sniffio
soupsieve
SpeechRecognition
statsmodels
streamlit
streamlit-webrtc
streamlit_mic_recorder
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-hub
tensorflow-io-gcs-filesystem
tensorflow_decision_forests
tensorflowjs
tensorstore
termcolor
tf_keras
threadpoolctl
toml
toolz
tornado
tqdm
typing_extensions
typish
urllib3
Werkzeug
wrapt
wurlitzer
zipp
